@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --strong-cyan:hsl(171, 66%, 44%);
    --light-blue:hsl(233, 100%, 69%);
    --dark-grayish-blue:hsl(210, 10%, 33%);
    --grayish-blue:hsl(201, 11%, 66%);
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    background-color: #fff;
    background: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: top;
    
}
a {
    text-decoration: none;
    letter-spacing: 0.4px;
    font-weight: bold;
    color: #ffffffcf;
    cursor: pointer;
}
button {
    padding: 15px;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    border: none;
}
h2,
h3{
    color: var(--dark-grayish-blue);
}
p{
    color: var(--grayish-blue);
    font-size: 15px;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
}
.btn-ios{
    border:1px solid var(--strong-cyan);
    outline: var(--strong-cyan);
    background-color: var(--strong-cyan);
    margin-bottom: 1.5rem;
    box-shadow: 5px 15px 10px -10px var(--strong-cyan); 
}
.btn-ios:hover{
    background-color: hsla(171, 66%, 44%, 0.75);
}
.btn-mac{
    background-color: var(--light-blue);
    box-shadow: 5px 15px 10px -10px var(--light-blue);

}
.btn-mac:hover{
    background-color: hsla(233, 100%, 69%, 0.75);
}
.container {
    margin: 0 2rem;
}
section{
    margin: 6rem 0;
    text-align: center;
}


/*HEADER*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 6rem auto;
}
.header img {
    width: 120px;
    margin-bottom: 2rem;
}
.header h2{
    color: var(--dark-grayish-blue);
    text-wrap:balance;
    margin-bottom: 1.5rem;
}
.header p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    color: var(--grayish-blue);
    margin-bottom: 3rem;
}
/*HEADER*/


/*1. INFO*/
.info-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-main h2 {
    margin-bottom: 1.5rem;
}
.info-main img {
    max-width: 100%;
    margin-top: 3rem;
}
.knowladge-program {
    margin: 3rem 0;
}
.knowladge-program h3 {
    margin-bottom: 0.8rem;
}
/*1. INFO */


/*2.INFO*/
.info-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-second h2 {
    margin-bottom: 1.5rem;
}
.info-second img {
    max-width: 100%;
    margin-top: 3rem;
}/*2.INFO*/



/*WORKFLOW*/
.workflow-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.workflow-section h2 {
    margin-bottom: 1.5rem;
}
.workflow-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.workflow-tools .workflow-info {
    margin-bottom: 2rem;
}
.workflow-tools .workflow-info img {
    margin: 2rem 0;
}
.workflow-tools .workflow-info h4 {
    margin-bottom: 1rem;
}
/*WORKFLOW*/



/*LOGOS*/
.company-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.company-logos img:not(:last-child){
    margin-bottom:4rem;
}
/*LOGOS*/

/*CLIPBOARD*/
.clipboard-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clipboard-section h2 {
    margin-bottom: 1.5rem;
}
.clipboard-section p {
    margin-bottom: 3rem;
}
/*CLIPBOARDd */

/*FOOOTER*/
.footer {
    background-color: rgb(238, 238, 238);
    width: 100%;
    margin: 0;
    height: auto;
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-section img {
    margin: 2rem 0;
    width: 50px;
}
.footer-section a {
    color: rgb(112, 111, 111);
    font-weight: 400;
    letter-spacing: 0.4px;
    margin: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    transition:all 0.2s  ease-in;
}
.footer-section a:hover{
    color: var(--strong-cyan);
}
.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem 0;
}
.social-media img {
    width: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition:all 0.2s  ease;
}





